.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;

}
.Header__logo{
    height: 40px;
    object-fit: contain;
    width: 90px;
}

.header__icon{
    padding: 20px;
}